.controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}
 .control__skipBtn,.control__PlayButton{
    width: 53px;
    line-height: 10px;
    height: 53px;
    border-radius: 50%;
    font-size: 1.2rem;
 }